extends ../layouts/adminMain

block content
  body
    main.admin__main
      if crudType === "create" || crudType === "update"
        //- FIXME: 페이지에 맞게 id 수정
        .admin__form-page#admin__sampleForm-page
          .layout-wrapper.layout-content-navbar
            .layout-container
              //- BEGIN: Sidebar menu
              include adminSidebar
              //- END: Sidebar menu
              //- BEGIN: Layout container
              .layout-page
                //- BEGIN: Navbar
                include adminNavbar
                //- END: Navbar
                //- BEGIN: Content wrapper
                .content-wrapper
                  //- BEGIN: Content
                  .container-xxl.flex-grow-1.container-p-y
                    h4.fw-bold.py-3.mb-3.admin__page-title=`${adminNameKo} ${updateBool ? "수정" : "등록"}`
                    .row
                      .col-12.col-lg-7
                        .card
                          .card-body
                            form.browser-default-validation.admin__form( method="POST" )
                              input(type="hidden" name="itemID" value=`${updateBool ? adminItem._id : ""}` readonly required)
                              .col-12.mt-5
                                h5.fw-semibold 데이터 등록 영역
                                hr.mt-0
                              .mb-2
                                label.form-label.fw-bold(for='name') 이름
                                input#name.form-control(type='text' name="name" value=`${updateBool ? adminItem.name : ""}` placeholder="제목을 입력하세요" required)
                              .mb-2
                                label.form-label.fw-bold(for='content') 설명
                                textarea#content.form-control(type='text' name="content" value=`${updateBool ? adminItem.content : ""}` placeholder="본문을 입력하세요" required)
                              .row.mt-4
                                .col-12 
                                  a.btn.btn-secondary.waves-effect.waves-light.text-white.me-sm-3(onclick="history.go(-1);") 뒤로가기
                                  button.btn.btn-success.waves-effect.waves-float.waves-light(type="submit")=`${updateBool ? "수정" : "등록"}하기`
                  //- END: Content
                //- END: Content wrapper
              //- END: Layout container
      else if crudType === "detail"
        //- FIXME: 페이지에 맞게 id 수정
        .admin__detail-page#admin__sampleDetail-page
          .layout-wrapper.layout-content-navbar
            .layout-container
              //- BEGIN: Sidebar menu
              include adminSidebar
              //- END: Sidebar menu
              //- BEGIN: Layout container
              .layout-page
                //- BEGIN: Navbar
                include adminNavbar
                //- END: Navbar
                //- BEGIN: Content wrapper
                .content-wrapper
                  //- BEGIN: Content
                  .container-xxl.flex-grow-1.container-p-y
                    h4.fw-bold.py-3.mb-3.admin__page-title=`${adminNameKo} 상세보기`
                    .row
                      .col-12
                        .card
                          .card-body
                            .card-body-wrap.mb-4
                              h5.card-title.mb-1 제목
                              p.card-text=adminItem.name
                            .card-body-wrap.mb-4
                              h5.card-title.mb-1 본문
                              p.card-text=adminItem.content
                            .card-body-wrap.mb-4
                        .card__bot-btns-wrap.mt-3
                          a.btn.btn-secondary.waves-effect.waves-light.text-white.me-sm-3(onclick="history.go(-1);") 뒤로가기
                          a.btn.btn-success.waves-effect.waves-light.text-white(href=`${routes.admin}${adminLink}/update?itemID=${adminItem._id}`) 수정하기
                  //- END: Content
                //- END: Content wrapper
              //- END: Layout container
    //- Repeated scripts
    include adminScripts
    //- Vendors JS
    script(src="/assets/vendor/libs/select2/select2.js")
    script(src="/assets/vendor/libs/bootstrap-select/bootstrap-select.js")
    script(src="/assets/vendor/libs/moment/moment.js")
    script(src="/assets/vendor/libs/flatpickr/flatpickr.js")
    script(src="/assets/vendor/libs/typeahead-js/typeahead.js")
    script(src="/assets/vendor/libs/tagify/tagify.js")
    script(src="/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js")
    script(src="/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js")
    script(src="/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js")
    script(src="/assets/vendor/libs/cleavejs/cleave.js")
    script(src="/assets/vendor/libs/cleavejs/cleave-phone.js")
    script(src="/assets/vendor/libs/select2/select2.js")
    //- Main JS
    script(src="/assets/js/main.js")
    //- Page JS
    script(src="/assets/js/form-validation.js")
    script(src="/assets/js/form-layouts.js")
    